h1{
  color: rgb(166, 71, 171);
  font-family: 'Creepster', cursive;
  font-family: 'Luckiest Guy', cursive;
  font-size: 3em;
  line-height: 1.5em;
  vertical-align: middle;
  text-align: center;
  
}
h2 {
  color:#ba80e1;
}


/*header*/
body header{
  display:block;
  width: 80%;
  border-radius: 15%;
  background-color: #e8abf0;
  padding-right: 50px;
}
/*navigation*/
li {
  display: inline;
  padding-left: 6%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e8abf0;
  font-family: cursive;
  border-radius: 20%;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: #7c319f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #ba80e1;
  color: rgb(242, 217, 103);
  border-radius: 50px;
}



html {
  background-color: #e8abf0;
  background-image: url(images/juice\ wrld\ legends\ never\ die\ wallpaper.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  
}




body {
  
  /*background-color: rgb(186, 144, 217);*/
  margin-left: auto;
  margin-right: auto;
  min-width: 640px;
  max-width: 960px;
  width: 85%;
}

section {
  background-color: #ba80e1;
  border-radius: 10%;
  font-family: cursive;
  
}

/*image rounded corners*/

img.rounded-corners {
  border-radius: 30px;
}



  /*footer*/
footer {
  background-color:#cda1ea ;
  
  border-radius: 10%;
  font-family: cursive;
  
  
}

aside {
  background-color: #ba80e1;
  border-radius: 10%;
  font-family: cursive;
  padding-top: 10%;
}





/*form styles*/
table {
  border-collapse: collapse;
  width: 100%;
  color: #ba80e1;
  
}

input[type=text] {
  border: 4px solid rgb(167, 11, 239);
  border-radius: 5px;
}
input[type=email] {
  border: 4px solid rgb(167, 11, 239);
  border-radius: 5px;
}
input[type=submit] {
  border: 4px solid rgb(167, 11, 239);
  border-radius: 5px;
}
input[type=reset] {
  border: 4px solid rgb(167, 11, 239);
  border-radius: 5px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 3px solid rgb(166, 71, 171);
}

body {

  border-radius: 12%;
  padding-left: 10%;
}




div.gallery {
  margin: 8px;
  border: 4px solid #7c319f;
  float: left;
  width: 180px;
  border-radius: 15%;
}

div.gallery:hover {
  border: 8px solid #7c319f;
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius:15%;
}

div.desc {
  padding: 5px;
  text-align: center;
  background-color: #ba80e1;
  border-radius: 15%;
  font-family: cursive;
  
}